* {
    box-sizing: border-box;    
    font-family: Roboto;
    margin: 0 auto;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
} 

#landingPage {
    background-image: url('images/car.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    margin: 0 auto;
    padding: 0;
    width: auto;
    height: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}


.landingIntro, #scroll, #startScroll {
    position: absolute;
    color: white;
    text-align: center;
    transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
}

.landingIntro {
    top: 40%;
    font-size: 30px;
    left: 49.5%;
}

#scroll {
    top: 93%;
    left: 51%;
}

.scrollButton {
    width: 12%;
    border-radius: 50%;
}

.scrollButton:hover {
    transition: 0.5s ease;
    transform: scale(1.25);
}

#startScroll {
    top: 88%;
    left: 51.2%;
    font-size: 122%;
    padding-right: 3px;
}

.modal-dialog {
  width: 530px;
  margin: 80px auto;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px white inset !important;
}

.signup_input, .login_input {
    margin-top: 10px;
}

.signup_header, .login_header {
    text-align: center;
}

#js-show-info {
    position: absolute;
    padding-left: 9%;
    padding-right: 9%;
    margin: 0 auto;
    margin-top: 12%;
    background-color: white;
    background-size: cover;
    width: 100%;
    left: 0; 
}

.setNumImg {
    position: absolute;
    left: 2%;
    top: 1.5%;
    color: #154896;
    font-size: 16px;
}

.heartFav {
    position: absolute;
    top: 2%;
    right: 2%;
    font-size: 20px;
    color: #db1a4d;
}

.imageDiv {
    margin: auto;
    background-color: white;
    height: 450px;
    padding-top: 3%;
    border: 1px solid #c0d0e8;
    border-right-color: #dce7f7;
    text-align: center;
}

.itemImage {
    max-width: 100%;
    max-height: 400px;
}

.logo_lego {
    width: 24px;
}

.setNum {
    height: 9%;
    background-color: white;
    text-align: center;
    color: #024887;
    margin-top: 50px;
    margin-bottom: 50px;
    padding-top: 7.5px;
    font-size: 17px;
}

.setDetail {
    background-color: #F5FAFE;
    border: 1px solid #c0d0e8;
    border-left-color: #dce7f7;
    font-size: 15px;
    max-width: 100%;
    height: 450px;
    margin: 0 auto;
    padding-top: 20px;
    margin-bottom: 4%;
}

.error {
    text-align: center;
}

.errMsg {
    font-size: 35px;
    margin-top: 100px;
}

.legoIcon {
    width: 30px;
}

.rebrickIcon {
    width: 19px;
}

.rebrickLink:hover {
    text-decoration: none;
    color: #5599FF;
}

.signupLink {
    font-size: 17px;
}

.signupLink:hover {
    text-decoration: none;
    color: #5599FF;
}

.tableInfo {
    width: 100%;
}

.tdTable {
    height: 58px;
    border: 1px solid #E9EBEE;
    border-left: none;
    border-right: none;
}

.tdRight {
    width: 50%;
    color: #757575;
    border-left: none;
}

.tdLeft {
    width: 50%;
    padding-left: 25px;
}

tr.lastTd {
    display: block;
    width: 100%;
    height: 58px;
    margin-left: 62%;
    margin-top: 16%;
}

.addButton {
    display: block;
}

.buttonFavorite, .removeFavorite {
    background-color: #D2EFFC;
    color: #024887;
    font-size: 13px;
}

.removeFavorite:hover {
    background-color: #ACE6FE;
}

.buttonFavorite:hover {
    background-color: #ACE6FE;
}

#explain {
    width: 100%;
    background-color: #081e38; 
    position: absolute;
    margin: 0 auto;
    padding-bottom: 3%;
    padding-top: 4%;
    top: 100%;
    left: 0;
}

.introduction1, .introduction2 {
    font-size: 18px;
    background-color: #0b2349;
    color: #eaeff2;
    width: 93%;
    border: 1px solid #F5F5F7;
    padding-bottom: 11%;
}

.introduction1 {
    border-top: 8px solid #F5F5F7;
}

.introTitle1, .introTitle2 {
    font-size: 27px;
    text-align: center;
    margin-top: 8%;
    margin-bottom: 13%;
}

.introduct {
    margin: 0;
    padding-left: 6%;
    padding-right: 6%;
}

.introductSignUp {
    color: #13a9ef;
}

.introductSignUp:hover {
    text-decoration: none;
    color: #154896;
}

.wrapwhatWeDo1 {
    margin-right: 0px;
}

.whatWeDo1 {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 3.5%;
}

.imgWhatWeDo1, .imgWhatWeDo2 {
    display: block;
    width: 93%;
    height: auto;
    margin-top: 8%;
    border: 1px solid #F5F5F7;
}

.joinNow {
    text-align: center;
    margin: 0 auto;
}

.joinButton {
    text-decoration: none;
    background-color: #13a9ef;
    color: white;
    font-size: 16px;
    border: 1px solid #13a9ef;
    border-radius: 3px;
    padding: 10px 26px 10px 26px;
}

a:hover, a:active, a:visited, a:focus  {
    text-decoration: none;
}

.joinButton:hover {
    background-color: #154896;
    border: 1px solid #154896;
    color: white;
}

.footer, .js-footer {
    position: absolute;
    width: 100%;
    height:52px;
    background-color: #0b2349; /*#09224f 0b2349 05193a*/
    top: 100%;
    bottom: 0;
    right: 0;
    left: 0; 
    margin: 0 auto;
    margin-bottom: 0;
    color: white;
    padding-top: 11px;
    padding-bottom: 8px;
    padding-left: 18px;
}

.js-footer {
    margin-top: 4%;
}

.footerLogo, .js-footerLogo {
    font-size: 18px;
}

.footerBuilder, .js-footerBuilder {
    font-size: 15px;
    margin-left: 10px;
    margin-right: 5px;
}

.githubLogo, .js-githubLogo {
    width: 19px;
}

.githubLogo:hover, .js-githubLogo:hover {
    transition: 0.5s ease;
    transform: scale(1.25);
}





 







