* {
    box-sizing: border-box;    
    font-family: Roboto;
    margin: 0 auto;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
} 

/*<------- Show loading icon when ajax start and end when it stop --------*/

/* Start by setting display:none to make this hidden.
   Then we position it in relation to the viewport window
   with position:fixed. Width, height, top and left speak
   for themselves. Background we set to 80% white with
   our animation centered, and no-repeating */
.modal {
    display:    none;
    position:   fixed;
    z-index:    2000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 ) 
                url('images/ajax-loader2.gif')/*url('http://i.stack.imgur.com/FhHRx.gif')*/ 
                50% 50% 
                no-repeat;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading {
    overflow: hidden;   
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .modal {
    display: block;
}

/*<---- End loading icon css ---->*/

button:focus {
    outline:0;
}

input:focus, textarea:focus {
    outline: none;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px white inset !important;
}

#landingPage {
    background: url('images/car.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    margin: 0 auto;
    padding: 0;
    width: auto;
    height: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}


.landingIntro, #scroll, #startScroll {
    position: absolute;
    color: white;
    text-align: center;
    transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
}

.landingIntro {
    top: 36%;
    font-size: 30px;
    left: 49.5%;
}

#scroll {
    top: 93%;
    left: 51%;
}

.scrollButton {
    width: 22px;
    border-radius: 50%;
}

.scrollButton:hover {
    transition: 0.5s ease;
    transform: scale(1.25);
    transition: all .7s ease-in-out;
}

#startScroll {
    top: 88%;
    left: 51.2%;
    font-size: 17px;
    padding-right: 3px;
}

#headerResults {
    text-align: center;
    margin-top: 230px;
}

#js-show-info {
    position: absolute;
    padding-left: 9%;
    padding-right: 9%;
    margin: 0 auto;
    top: 50%;
    background-color: white;
    background-size: cover;
    width: 100%;
    left: 0; 
}

.setNumImg {
    display: block;
    position: absolute;
    left: 2%;
    top: 2%;
    color: #154896;
    font-size: 16px;
}

.heartFav {
    position: absolute;
    top: 2%;
    right: 2%;
    font-size: 20px;
    color: #db1a4d;
}

.imageDiv {
    position: relative;
    margin: auto;
    background-color: white;
    height: 450px;
    border: 1px solid #c0d0e8;
    border-right: none;
    padding-top: 4.5%;
    text-align: center;
    vertical-align: middle;
}

.itemImage {
    display: block;
    max-width: 100%;
    max-height: 390px;
}

.logo_lego {
    width: 24px;
}

.setNum {
    height: 10%;
    background-color: white;
    text-align: center;
    color: #024887;
    margin: 40px 7px 30px 7px;
    font-size: 17px;
}

.setNum > p, .setNum > img {
    display: inline-block;
}

.setNum > img {
    padding-top: 5px;
}

.setDetail {
    background-color: #F5FAFE;
    border: 1px solid #c0d0e8;
    border-left: none;
    font-size: 16px;
    max-width: 100%;
    height: 450px;
    margin: 0 auto;
    padding-top: 20px;
    margin-bottom: 4%;
}

.errMsg {
    font-size: 35px;
    padding-top: 110px;
}

.legoIcon {
    width: 30px;
}

.rebrickIcon {
    width: 19px;
}

.rebrickLink:hover {
    text-decoration: none;
    color: #5599FF;
}

#signupLink {
    font-size: 17px;
}

#signupLink:hover {
    text-decoration: none;
    color: #5599FF;
}

table {
    font-size: 15px;
}

.tableInfo {
    width: 100%;
}

.tdTable {
    height: 58px;
    border-bottom: 1px solid #E9EBEE;
}

.tdRight {
    width: 50%;
    color: #757575;
    border-left: none;
}

.tdLeft {
    width: 50%;
    padding-left: 25px;
}

.lastTd {
    display: block;
    width: 100%;
    height: 58px;
    margin-left: 62%;
    margin-top: 16%;
}

.addButton, .removeFavorite {
    display: block;
    position: relative;
    left: 75%;
}

.buttonFavorite, .removeFavorite {
    background-color: #D2EFFC;
    color: #024887;
    font-size: 13px;
    padding: 4px;
    border-radius: 3px;
    border: 1px solid #D2EFFC;
}

.removeFavorite:hover {
    background-color: #ACE6FE;
    cursor: pointer;
}

.buttonFavorite:hover {
    background-color: #ACE6FE;
    cursor: pointer;
}

#explain {
    width: 100%;
    background-color: #071021; /*#121E2A #071021 081e38*/
    position: relative;
    margin: 0 auto;
    padding-bottom: 3.2%;
    padding-top: 4%;
    left: 0;
}

.col-group {
    overflow: hidden;
}
.col-group > div {
    float: left;
    width: 50%;
}

.introduction1, .introduction2 {
    font-size: 18px;
    background-color: #121E2A; /*#0b2349*/
    color: #eaeff2;
    width: 93%;
    border: 1px solid #F5F5F7;
    padding-bottom: 50px;
}

.introduction1 {
    border-top: 8px solid #F5F5F7;
}

.introduction2 {
    padding-bottom: 49px;
}

.introTitle1, .introTitle2 {
    font-size: 27px;
    text-align: center;
    margin-top: 8%;
    margin-bottom: 10%;
}

.introduct {
    margin: 0;
    padding-left: 6%;
    padding-right: 6%;
}

.introductSignUp {
    color: #13a9ef;
}

.introductSignUp:hover {
    text-decoration: none;
    color: #154896;
}

.wrapwhatWeDo1 {
    margin-right: 0px;
}

.whatWeDo1 {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 3.5%;
}

.imgWhatWeDo1, .imgWhatWeDo2 {
    display: block;
    width: 93%;
    height: auto;
    margin-top: 8%;
    border: 1px solid #F5F5F7;
}

.joinNow {
    text-align: center;
    margin: 0 auto;
}

.joinButton {
    text-decoration: none;
    background-color: #02BCCE;
    color: white;
    font-size: 17px;
    border: 1px solid white;
    border-radius: 25px;
    padding: 6px 15px 6px 15px;
}

a:hover, a:active, a:visited, a:focus  {
    text-decoration: none;
}

.joinButton:hover {
    background-color: #154896;
    color: white;
}

.footer {
    position: absolute;
    width: 100%;
    min-height:55px;
    background-color: #121E2A; /*#09224f 0b2349 05193a*/
    top: 100%;
    bottom: 0;
    right: 0;
    left: 0; 
    margin: 0 auto;
    margin-bottom: 0;
    color: white;
    padding-top: 13px;
    padding-bottom: 8px;
    padding-left: 18px;
}

.footerLogo, .githubLogo {
    display: inline-block;
}

.footerLogo, .js-footerLogo {
    font-size: 18px;
}

.footerBuilder, .js-footerBuilder {
    font-size: 15px;
    margin: 15px;
}

.githubLogo, .js-githubLogo {
    width: 22px;
}

.githubLogo:hover, .js-githubLogo:hover {
    transition: 0.5s ease;
    transform: scale(1.25);
}

@media (max-width: 780px) {
    .landingIntro {
        font-size: 22px;
        width: 100%;
        left: 50%;
        top: 38%;
    }
    .imageDiv {
        height: auto;
        padding: 7% 1% 5% 1%;
        border: 1px solid #c0d0e8;
        border-bottom: none;
    }
    .setDetail {
        border: 1px solid #c0d0e8;
        border-top: none;
    }
    .setNumImg {
        font-size: 15px;
    }
    .lastTd {
        margin-left: 54%;
    }
    .itemImage {
        margin-top: 15px;
    }
    .signupLink {
        font-size: 15px;
    }
    #js-show-info {
        margin-top: 85px;
        top: 35%;
        padding-right: 3%;
        padding-left: 3%;
    }
    .footer, .js-footer {
        min-height: 65px;
        padding-top: 18px;
    }
    #explain {
        padding-bottom: 6%;
    }
    .col-group > div {
        float: left;
        width: 100%;
    }
    .whatWeDo1 {
        margin-bottom: 8%;
        width: 100%;
    }
    .removeFavorite {
        left: 67%;
    }
}






 







