* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: Roboto;
}

header {
  position: fixed;
  width: 100%; 
  z-index: 100; 
  margin: 0;
  padding: 0;
  top: 0;
}

nav {
  height: 55px;
  background-color: #111;
  border-bottom: 1px solid #555;
}

.logo {
  padding: 14px 18px 0 18px;
  width: auto;
  float: left;
}

.logoTitle {
  font-weight: normal;
  font-size: 25px;
  margin-left: 20px;
  color: white;
}

.listItem {
  position: absolute;
  top: 6.5%;
  right: 1%;
  padding: 8px;
}

.listItem > li, .listItem > form {
  float: left;
  font-size: 18px;
  transition: all .7s ease-in-out;
}

.listItem > form {
  margin: 0 20px;
}

.listItem > li {
  padding: 0;
  margin-top: 5px;
}

.listItem > li > a {
  color: #EEE;
  padding: 10px;
}

.listItem > li > p {
  padding: 0 10px;
  color: #EEE;
}

.listItem li a:hover {
  color: #13a9ef;
}

::-webkit-input-placeholder {  /*Chrome/Opera/Safari */
  color: #5879aa;
}
::-moz-placeholder {  /*Firefox 19+ */
  color: white;
}
:-ms-input-placeholder {  /*IE 10+ */
  color: white;
}
:-moz-placeholder { /* Firefox 18-*/ 
  color: white;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}

.buttonGo {
  background-color: #13a9ef;
  border: 1px solid #13a9ef;
  padding: 5px 11px 7px 11px;
  color: white;
  font-size: 14px;
  border-radius: 3px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
}

.buttonGo:hover {
  background-color: #154896;
  border-color: #154896;
  color: white;
  cursor: pointer;
}

.buttonGo:focus {
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.3);  
}


.signup_button {
  background-color: #1847a5;
  color: white; 
}

#js-search-form {
  position: absolute;
  text-align: center;
  width: 100%;
  top: 23%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
}

.search_input {
  width: 200px;
  height: 31px;
  border: 1px solid #13a9ef;
  border-radius: 2px;
  padding-top: 4px;
  padding-bottom: 6px;
  padding-left: 10px;
  margin: 0 auto;
  font-size: 14px;
  background-color: white;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

.search_input:focus {
  width: 300px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
}

.icon {
  display: none;
}

.toggle {
  float: right;
  margin: 20px;
  color: #EEE;
  font-size: 30px;
  border: 1px solid #EEE;
  padding: 0px 5px;
  border-radius: 4px;
  cursor: pointer;
}

.loginModal, .signupModal {
  display: none;
  position: fixed;
  text-align: center;
  width: 400px;
  background-color: white;
  border-radius: 3px;
  padding: 10px 40px;
  box-shadow: 0 0 100px rgba(0, 0, 0, 0.7);
  height: 240px;
  top: 48%;
  left: 50%;
  z-index: 200;
  background: rgba(255,255,255,0.96);

  transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
}

.signupModal {
  height: 305px;
}

.modal-title {
  font-size: 19px;
  margin-bottom: 20px;
}

.close {
  margin-bottom: 10px;
  position: relative;
  right: -55%;
  cursor: pointer;
  padding: 3px;
}

.form-group {
  margin-bottom: 20px;
}

.signup_input, .login_input {
  margin: 10px 0 10px 0;
  display: block;
  width: 320px;
  height: 30px;
  font-size: 14px;
  border-radius: 3px;
  border: 1px solid lightgrey;
  padding-left: 10px;
}

.signup_header, .login_header {
    text-align: center;
}

.close_button, .signup_button {
  padding: 5px;
  font-size: 15px;
  border-radius: 3px;
  cursor: pointer;
}

.close_button {
  border: 1px solid lightgray;
  background-color: lightgray;  
}

.signup_button {
  border: 1px solid #13a9ef;
  background-color: #13a9ef;
  color: white;
}

.close_button:hover {
  border: 1px solid black;
  background-color: black;
  color: white;
}

.signup_button:hover {
  border: 1px solid #154896;
  background-color: #154896;
}

@media (max-width: 775px) {
  #js-search-form {
    left: 48%;
  }
  .loginModal, .signupModal {
    top: 48%;
  }
  .icon {
    display: block;
    width: 100%;
    height: 80px;
    background-color: #111;
    border-bottom: 1px solid #444;
  }
  .logo {
    padding-top: 22px;
    margin-left: -16px;
  }
  .logoTitle {
    font-size: 30px;
  }
  .listItem {
    width: 100%;
    padding: 0;
    right: 0;
    position: relative;
    top: -4px;
    display: none;
    background-color: #111;
    border-top: 1px solid #444;
  }
  .listItem li {
    margin: 0;
    padding: 0;
    text-align: left;
    display: block;
    float: none;
  }
  .listItem li {
    margin: 0;
    padding: 5px 0 5px 15px;
  }
  .search_input {
    margin-top: 15px;
    margin-left: 15px;
  }

}
















