* {
    box-sizing: border-box;
    font-family: Roboto;
}

nav {
  background-color: #18202D;
  height: 56px;
  width: 100%;
}

.navbar {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin: 0 auto;
}

.title {
  font-weight: normal;
  font-size: 20px;
  padding-top: 4px;
  margin-top: 7px;
  margin-left: 3%;
}

.titleLink {
  color: white;
}

.titleLink:hover {
  color: white;
  text-decoration: none;
}

.link {
  color: #e8ecf2;
  font-weight: normal;
  font-size: 17px;
}

.search_wrap {
  margin: 0 auto;
}

.helloLogin {
    margin: 0 auto;
}

.hello {
  margin: 0 auto;
  margin-right: 16px;
  margin-top: 10px;
  color: #e8ecf2;
  font-size: 17px;
  margin-bottom: 0;
}

::-webkit-input-placeholder {  /*Chrome/Opera/Safari */
  color: #5879aa;
}
::-moz-placeholder {  /*Firefox 19+ */
  color: white;
}
:-ms-input-placeholder {  /*IE 10+ */
  color: white;
}
:-moz-placeholder { /* Firefox 18-*/ 
  color: white;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}

.buttonGo {
  background-color: #13a9ef;
  border: 1px solid #13a9ef;
  padding: 5px 11px 7px 11px;
  color: white;
  font-size: 14px;
  border-radius: 3px;
}

.buttonGo:hover {
  background-color: #154896;
  border-color: #154896;
  color: white;
}

.signup_button {
  background-color: #1847a5;
  color: white; 
}

.nav {
  padding-top: 4px;
}

.title, #js-search-form {
  display: inline-block;
  vertical-align: top;
}

#js-search-form {
  padding-top: 10px;
  margin-left: 25px;
}

.search_input {
    width: 160px;
    border: 2px solid white;
    border-radius: 2px;
    padding-top: 4px;
    padding-bottom: 6px;
    padding-left: 10px;
    margin: 0 auto;
    font-size: 14px;
    background-color: white;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

.search_input:focus {
    width: 290px;
}
















