* {
    box-sizing: border-box;
    font-family: Roboto;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
} 

nav {
  background-color: #18202D;
  height: 54px;
  width: 100%;
}

.navbar {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin: 0 auto;
}

.title {
  font-weight: normal;
  font-size: 20px;
  padding-top: 4px;
  margin-top: 7px;
  margin-left: 3%;
}

.titleLink {
  color: white;
}

.titleLink:hover {
  color: white;
  text-decoration: none;
}

.link {
  color: white;
  font-weight: normal;
  font-size: 16px;
}

.search_wrap {
  margin: 0 auto;
}

.search_box {
  text-align: center;
  padding-top: 11px;
}

.search_input {
  background-color: #2d548e;
  height: 34px;
  width: 20%;
  border: 1px solid #2d548e;
  border-radius: 3px;
  padding-left: 7px;
  padding-bottom: 3px;
  margin-top: 20px;
}

.search_input:hover {
  border: 1.7px solid #365B88;
}

::-webkit-input-placeholder {  /*Chrome/Opera/Safari */
  color: white;
}
::-moz-placeholder {  /*Firefox 19+ */
  color: white;
}
:-ms-input-placeholder {  /*IE 10+ */
  color: white;
}
:-moz-placeholder { /* Firefox 18-*/ 
  color: white;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}

.buttonGo {
  background-color: #2d548e;
  border: 1px solid #2d548e;
  width: 38px;
  height: 34px;
  color: white;
  border-radius: 3px;
}

.buttonGo:hover {
  background-color: #365B88;
  border-color: #365B88;
}

.signup_button {
  background-color: #1847a5;
  color: white; 
}

.nav {
  padding-top: 5px;
}

.welcome {
  position: absolute;
  top: 10%;
  left: 82%;
  margin: 0 auto;
}

.helloLogin {
    margin: 0 auto;
}

.hello {
  margin: 0 auto;
  margin-right: 15px;
  color: white;
  font-size: 15px;
}















